body{
	font-family: sans-serif;
}

.header{
	height: 50px;
	display: flex;
	text-transform: capitalize;
	align-items: center;
}

.header .title {
	flex-grow: 10;
	font-size: 30px;
}

.groupe 
{
	flex-grow: 0.5;
	text-align: right;
	padding-right: 10px;
	border-right: 1px solid #ddd;

}

.header .connexion{
	flex-grow: 0.5;
	text-align: right;
}

.header .inscription{
	flex-grow: 0.5;
	text-align: right;
}

.introduce{
	background: linear-gradient(0deg, rgba(45,199,166,0.835171568627451) 49%, rgba(50,199,199,0) 96%);
	background-size: 1;
	height: 400px;
	background-color: #EEE;
	text-transform: capitalize;
}

.introduce .items{
	position: absolute;
	left: 250px;
	top: 160px;
}

.items .join-meetup{
	font-size: 20px;
	padding: 15px 50px;
	border-radius: 10px;
	background-color: #e42d2d;
	position: absolute;
	left: 250px;
}

.join-meetup .join-meetup1{
	color: #fff;
}

.intro1 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.intro2{
	display: flex;
	justify-content: center;
}

.taskbar{
	height: 50px;
	background-color: #ffffff7a;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #c1bdbd96;
}

.taskbar .t1 {
	
	border: 1px solid #a5a9a5;
	padding: 5px;
	border-radius: 5px;
	margin: 20px;
	background-color: #dcd4d452;
}

.taskbar-item{
	color: black;
}

.gridList-item .gridList-itemRow {
	display: flex;
	padding-right: 10px;
	justify-content: center;
	align-items: center;
}

a{
	text-decoration: none;
	padding: 10px;
}
.gridList-item li{
	list-style: none;
}

.card{
	height: 12rem;
	width: 14rem;
	border-radius: 3px;
	margin: 40px;
	background-size: 340px;
}

h4{
	color: black;
	text-align: center;
	
}

.footer{
	height: 700px;
	background-color: #212121;
}

.footer .title{
	height: 100px;
	display: flex;
	align-items: center;
	text-decoration: underline;
	border-bottom: 1px solid #867575;
	font-size: 30px;
}

.title:hover{
	text-decoration: none;
}


.row{
	display: flex;
	justify-content: center;
}

.footer .row1 li{
	list-style: none;
	margin: 40px;
}

.row1 .title-item{
	color: #fff;
}

.row1 .sub-headline{
	color: #bfbebe;
}